{
  "openapi": "3.0.0",
  "info": {
    "description": "Appetizr API Documentation Swagger.",
    "version": "1.0.0",
    "title": "Appetizr API Documentation",
    "termsOfService": "http://appetizr.co/tos/",
    "contact": {
      "email": "dev@appetizr.co"
    }
  },
  "servers": [
    {
      "url": "https://api.appetizr.co",
      "description": "Production Server API"
    },
    {
      "url": "https://api.dev.appetizr.co",
      "description": "Development Server API"
    }
  ],
  "tags": [
    {
      "name": "venueprofile",
      "description": "Venue Profile API"
    },
    {
      "name": "memberprofile",
      "description": "Member Profile API"
    }
  ],
  "paths": {
    "/venueprofile": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "venueprofile"
        ],
        "summary": "Detail of Venue Profile",
        "description": "",
        "responses": {
          "200": {
            "$ref": "#/components/responseBodies/Venue"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "venueprofile"
        ],
        "summary": "Create New Venue Profile Detail",
        "description": "",
        "requestBody": {
          "$ref": "#/components/requestBodies/Venue"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responseBodies/Venue"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "put": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "venueprofile"
        ],
        "summary": "Update Venue Profile Detail",
        "description": "",
        "requestBody": {
          "$ref": "#/components/requestBodies/Venue"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responseBodies/Venue"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/memberprofile": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "memberprofile"
        ],
        "summary": "Detail Member Profile",
        "description": "",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/memberProfile"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Authorization information is missing or invalid.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "number",
                  "example": 401
                },
                "message": {
                  "type": "string",
                  "example": "error"
                }
              }
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "Unprocessable Entity",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "number",
                  "example": 422
                },
                "message": {
                  "type": "string",
                  "example": "error"
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "venueProfile": {
        "type": "object",
        "required": [
          "venueName",
          "bankBSB",
          "bankName",
          "bankAccountNo",
          "phoneNumber",
          "address",
          "postalCode",
          "long",
          "lat",
          "cultureCategory"
        ],
        "properties": {
          "id": {
            "type": "uuid",
            "readOnly": true,
            "example": "9138017c-6a3b-42b8-adda-a1f1b94377e5"
          },
          "venueName": {
            "type": "string",
            "example": "Opera House"
          },
          "venueEmail": {
            "type": "string",
            "readOnly": true,
            "example": "operahouse@example.com"
          },
          "bankBSB": {
            "type": "number",
            "example": "012345"
          },
          "bankName": {
            "type": "string",
            "example": "Opera House"
          },
          "bankAccountNo": {
            "type": "string",
            "example": "0123456789"
          },
          "phoneNumber": {
            "type": "string",
            "example": "(+61) 1234 5678"
          },
          "address": {
            "type": "string",
            "example": "10 Example Address, Sydney, Australia, 1234"
          },
          "postalCode": {
            "type": "number",
            "example": 12345
          },
          "mapLong": {
            "type": "number",
            "example": -33.8473567
          },
          "mapLat": {
            "type": "number",
            "example": 150.6517896
          },
          "cultureCategory": {
            "type": "string",
            "example": "japanese",
            "enum": [
              "japanese",
              "chinese",
              "european",
              "americas"
            ]
          },
          "profilePicture": {
            "type": "string",
            "readOnly": true,
            "default": "https://assets.appetizr.co/2021/03/373cf69e-23f2-430a-acc3-7234800edaf0.png"
          },
          "createdAt": {
            "type": "date-time",
            "readOnly": true,
            "example": "2021-03-16T08:18:26.477Z"
          },
          "updatedAt": {
            "type": "date-time",
            "readOnly": true,
            "example": "2021-03-16T08:18:26.477Z"
          }
        }
      },
      "memberProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true,
            "example": "c8402b37-0f24-43db-be89-ae7ac7983e16"
          },
          "name": {
            "type": "string",
            "example": "john doe"
          },
          "email": {
            "type": "string",
            "example": "johndoe@example.com"
          },
          "mobileNumber": {
            "type": "string",
            "example": "(+61) 1234 5678"
          },
          "cardNumber": {
            "type": "number",
            "example": 123456789012345
          },
          "cardExpiry": {
            "type": "string",
            "example": "12/25"
          },
          "cardCVV": {
            "type": "number",
            "example": 123
          },
          "createdAt": {
            "type": "string",
            "example": "2021-03-15T12:41:05.848Z"
          },
          "updatedAt": {
            "type": "string",
            "example": "2021-03-15T12:41:05.848Z"
          }
        }
      }
    },
    "requestBodies": {
      "Venue": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/venueProfile"
            }
          }
        },
        "description": "Venue Profile Parameter"
      }
    },
    "responseBodies": {
      "Venue": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "number",
                  "example": 200
                },
                "message": {
                  "type": "string",
                  "example": "success"
                },
                "data": {
                  "$ref": "#/components/schemas/venueProfile"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}
