_id: spc_0d2f2fe6d63f44e6b15d1c8afc071b65
type: ApiSpec
parentId: wrk_a14d3233ec9e4a5a8512f084572b8c01
modified: 1615975605747
created: 1615646672691
fileName: appetzr
contents: >-
  openapi: 3.0.0

  info:
    description: "Appetizr API Documentation Swagger."
    version: 1.0.0
    title: Appetizr API Documentation
    termsOfService: http://appetizr.co/tos/
    contact:
      email: dev@appetizr.co
  servers:
    - url: https://api.appetizr.co
      description: Production Server API
    - url: https://api.dev.appetizr.co
      description: Development Server API
  tags:
    - name: venueprofile
      description: Venue Profile API
    - name: memberprofile
      description: Member Profile API
  paths:
    /venueprofile:
      get:
        security:
          - bearerAuth: []
        tags:
          - venueprofile
        summary: Detail of Venue Profile
        description: ""
        responses:
          "200":
            $ref: '#/components/responseBodies/Venue'
          "401":
            $ref: '#/components/responses/UnauthorizedError'
      post:
        security:
          - bearerAuth: []
        tags:
          - venueprofile
        summary: Create New Venue Profile Detail
        description: ""
        requestBody:
          $ref: '#/components/requestBodies/Venue'
        responses:
          "200":
            $ref: '#/components/responseBodies/Venue'
          "401":
            $ref: '#/components/responses/UnauthorizedError'
          "422":
            $ref: '#/components/responses/UnprocessableEntity'
      put:
        security:
          - bearerAuth: []
        tags:
          - venueprofile
        summary: Update Venue Profile Detail
        description: ""
        requestBody:
          $ref: '#/components/requestBodies/Venue'
        responses:
          "200":
            $ref: '#/components/responseBodies/Venue'
          "401":
            $ref: '#/components/responses/UnauthorizedError'
          "422":
            $ref: '#/components/responses/UnprocessableEntity'
    /memberprofile:
      get:
        security:
          - bearerAuth: []
        tags:
          - memberprofile
        summary: Detail Member Profile
        description: ""
        responses:
          "200":
            $ref: '#/components/responseBodies/Member'
          "401":
            $ref: '#/components/responses/UnauthorizedError'
  components:
    securitySchemes:
      bearerAuth:
        type: http
        scheme: bearer
        bearerFormat: JWT
    responses:
      UnauthorizedError:
        description: Authorization information is missing or invalid.
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: number
                  example: 401
                message:
                  type: string
                  example: error
      UnprocessableEntity:
        description: Unprocessable Entity
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: number
                  example: 422
                message:
                  type: string
                  example: error
    schemas:
      venueProfile:
        type: object
        required:
          - venueName
          - bankBSB
          - bankName
          - bankAccountNo
          - phoneNumber
          - address
          - postalCode
          - long
          - lat
          - cultureCategory
        properties:
          id:
            type: uuid
            readOnly: true
            example: 9138017c-6a3b-42b8-adda-a1f1b94377e5
          venueName:
            type: string
            example: Opera House
          venueEmail:
            type: string
            readOnly: true
            example: operahouse@example.com
          bankBSB:
            type: number
            example: "012345"
          bankName:
            type: string
            example: Opera House
          bankAccountNo:
            type: string
            example: "0123456789"
          phoneNumber:
            type: string
            example: "(+61) 1234 5678"
          address:
            type: string
            example: "10 Example Address, Sydney, Australia, 1234"
          postalCode:
            type: number
            example: 12345
          mapLong:
            type: number
            example: -33.8473567
          mapLat:
            type: number
            example: 150.6517896
          cultureCategory:
            type: string
            example: 'japanese'
            enum:
              - japanese
              - chinese
              - european
              - americas
          profilePicture:
            type: string
            readOnly: true
            example: https://assets.appetizr.co/2021/03/373cf69e-23f2-430a-acc3-7234800edaf0.png
          createdAt:
            type: date-time
            readOnly: true
            example: 2021-03-16T08:18:26.477Z
          updatedAt:
            type: date-time
            readOnly: true
            example: 2021-03-16T08:18:26.477Z
      memberProfile:
        type: object
        required:
          - name
          - mobileNumber
        properties:
          id:
            type: uuid
            readOnly: true
            example: c8402b37-0f24-43db-be89-ae7ac7983e16
          name:
            type: string
            example: john doe
          email:
            type: string
            readOnly: true
            example: johndoe@example.com
          mobileNumber:
            type: string
            example: "(+61) 1234 5678"
          profilePicture:
            type: string
            readOnly: true
            example: https://assets.appetizr.co/2021/03/373cf69e-23f2-430a-acc3-7234800edaf0.png
          createdAt:
            type: date-time
            readOnly: true
            example: 2021-03-16T08:18:26.477Z
          updatedAt:
            type: date-time
            readOnly: true
            example: 2021-03-16T08:18:26.477Z
      userFavorites:
        type: object
        required:
          - name
          - mobileNumber
        properties:
          id:
            type: uuid
            readOnly: true
            example: 5928876c-7bf6-43e9-95ca-bf569c8d2af5
          userId:
            type: uuid
            readOnly: true
            example: c8402b37-0f24-43db-be89-ae7ac7983e16
            description: User ID From Table Schema memberProfile
          venueId:
            type: uuid
            readOnly: true
            example: 9138017c-6a3b-42b8-adda-a1f1b94377e5
            description: Venue ID From Table Schema venueProfile
          isBlocked:
            type: boolean
            example: false
            description: Blokir Venue
          createdAt:
            type: date-time
            readOnly: true
            example: 2021-03-16T08:18:26.477Z
          updatedAt:
            type: date-time
            readOnly: true
            example: 2021-03-16T08:18:26.477Z
    requestBodies:
      Venue:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/venueProfile"
        description: Venue Profile Parameter
    responseBodies:
      Venue:
        description: OK
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: number
                  example: 200
                message:
                  type: string
                  example: success
                data:
                  $ref: "#/components/schemas/venueProfile"
      Member:
        description: OK
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: number
                  example: 200
                message:
                  type: string
                  example: success
                data:
                  $ref: "#/components/schemas/memberProfile"

    
  security:
    - bearerAuth: []
contentType: yaml
